<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Anta&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
        }

        body {
            margin: 0;
            font-family: "Anta", sans-serif;
            background: white;
            display: flex;
            flex-direction: column;
            scroll-behavior: smooth;
            align-items: center;
            min-height: 100vh;
            height: 120vh;
            margin: 0;
            font-family: "Anta", sans-serif;
        }

        header {
            background-color: 	#0166B1;
            color: black;
            width: 100%;
            position: static;
            padding: 1rem;
            text-align: center;
            z-index: 9999;
        }

        nav {
            display: flex;
            justify-content: center;
            font-size: 24px;
            text-align: center;
            padding-left: 20px;
            font-family: "Anta", sans-serif;
            background-color: transparent;
        }

        nav a {
            color: black;
            text-decoration: none;
            padding: 0.8rem 1.3rem;
            transition: 0.3s ease-in;
        }

        nav a:hover {
            color: white;
        }

        .welcome {
            position: static;
            justify-content: flex-start;
            display: flex;
            align-items: start;
            margin-top: 20px;
            margin-left: 20px;
            opacity: 0;
            animation: fadeIn 2s ease-in-out forwards;
        }
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        section {
            padding-top: 15%;
            font-family: "Anta", sans-serif;
            flex-grow: 1;
        }

        .book_container li {
            border: 2px solid black;
            max-width: 800px;
            margin: 0 auto;
            margin-bottom: 20px;
            border-radius: 8px;
            box-shadow: -9px 9px 10px -4px rgba(0, 0, 0, 0.26);
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 20px;
        }

        .book_container p {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 600;
        }

        section h2 {
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }

        @media screen and (max-width: 600px) {
            nav {
                flex-direction: column;
                align-items: center;
            }

            nav a {
                margin-top: 0.5rem;
            }
        }

        #quizModal {
            display: none;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 0 auto;
            position: absolute;
            top: 25%;
            padding: 20px;
            left: 50%;
            transform: translate(-50%, 0);
            font-family: "Anta", sans-serif;
            align-self: center;
            justify-content: center;
            border: 1px solid #b8d9d3;
            width: 83%;
            text-align: left;
        }



        .question p {
            font-size: 18px;
            font-weight: 600;
        }



        label {
            margin-bottom: 10px;
            display: block;
        }

        input[type="radio"] {
            margin-right: 5px;
        }

        /* Timer Styles */
        #timer {
            font-size: 16px;
            top: 20px;
            top: 41px;
            right: 57px;
            position: absolute;
            display: flex;
        }

        /* Button Styles */
        button {
            background-color: snow;
            color: black;
            font-family: "Anta", sans-serif;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            border: 2px solid #b8d9d3;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        button:hover {
            background-color: #b8d9d3;
            color: snow;
        }


        /* Responsive Styles */
        @media screen and (max-width: 768px) {
            .modal-content {
                width: 90%;
            }
        }

        @media screen and (max-width: 600px) {
            .modal-content {
                width: 100%;
            }
        }




        footer{
            position: fixed;
            bottom: 0;
            text-align: center;
            padding-top: 30px;
            justify-content: center;

            align-items: center;
            height: 70px;
            background: #6F6F6F;
            font-family: "Anta", sans-serif;
            width: 100%;
        }
    </style>
</head>

<body>
<header>
    <nav>
        <a href="#books">
            <% if (language === 'ru') { %> Машины <% } else { %> Cars <%
            } %></a
        >
        <a href="#world">
            <% if (language === 'ru') { %> Топ быстрых машин <% } else { %> Fastest Cars <% } %>
        </a>

        <a href="/chuck">Chuck Facts</a>
        <a href="/astro">Astro Picture</a>
    </nav>
</header>
<h1 class="welcome">
    <% if (language === 'ru') { %>Привет, <%= username %>!<% } else { %>Hello,
    <%= username %>!<% } %>
</h1>

<section id="books">
    <div class="book_container">
        <h2>
            <% if (language === 'ru') { %> Наши Книги <% } else { %> Cars <%
            } %>
        </h2>
        <ul>
            <% books.forEach(book => { %>
                <li>
                    <p class="title">
                        <% if (language === 'ru') { %>Марка: <%= book.title %><% } else
                        { %>Brand: <%= book.title %><% } %>
                    </p>
                    <p class="author">
                        <% if (language === 'ru') { %>Модель: <%= book.author %><% } else {
                        %>Model: <%= book.author %><% } %>
                    </p>
                    <p class="genre">
                        <% if (language === 'ru') { %>Мощность: <%= book.genre %><% } else {
                        %>Power: <%= book.genre %><% } %>
                    </p>
                </li>
            <% }); %>
        </ul>
    </div>
</section>
<section id="world">
    <h2>
        <% if (language === 'ru') { %> Книги из мира <% } else { %> Fastest Cars 0-100 km/h
        <% } %>
    </h2>
    <div class="book_container">
        <ul>
                <li>
                    <p class="title">
                        Brand: Rimac
                    </p>
                    <p class="author">
                        Model: Nevera
                    </p>
                    <p class="genre">
                       Time: 1.8 s
                    </p>
                </li>
            <li>
                <p class="title">
                    Brand: 	Pininfarina
                </p>
                <p class="author">
                    Model: Battista
                </p>
                <p class="genre">
                    Time: 1.9 s
                </p>
            </li>

            <li>
                <p class="title">
                    Brand: 		Porsche
                </p>
                <p class="author">
                    Model: 919 Hybrid (Mk II)
                </p>
                <p class="genre">
                    Time: 1.9 s
                </p>
            </li>

            <li>
                <p class="title">
                    Brand:	Audi
                </p>
                <p class="author">
                    Model: R18 e-Tron Quattro
                </p>
                <p class="genre">
                    Time: 2.0 s
                </p>
            </li>

            <li>
                <p class="title">
                    Brand:	Ferrari
                </p>
                <p class="author">
                    Model: SF90 Stradale
                </p>
                <p class="genre">
                    Time: 2.2 s
                </p>

            </li>
            <li>
                <p class="title">
                    Brand:		Tesla
                </p>
                <p class="author">
                    Model: Model S Plaid
                </p>
                <p class="genre">
                    Time: 2.3 s
                </p>

                <p class="genre">
                    Time: 2.3 s
                </p>
            </li>

        </ul>
    </div>
</section>




<footer>
    <p>Nurlanuly Baktiyar SE-2226</p>
</footer>



</body>
</html>
